/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/.prepl-port
.hgignore
.hg/
/rango-graalvm.iml
/.clj-kondo/.cache/
/.lsp/.cache/
/.idea
/.clj-kondo/imports/
/resources/rango-ceti-fausto-lustosa.db
/resources/migration.config.edn
/resources/config.edn
/resources/config.example.edn
